<div class="row">
  <div class="col-9">
    <div>
      <form [formGroup]="newPostForm" class="mb-3">
        <h1 class="h3 mb-3 font-weight-normal">Create new post</h1>
        <div class="form-group">
          <label for="category">Category</label>
          <select formControlName="inputCategory" id="category" class="form-control">
            <option *ngFor="let category of categories" [value]="category['_id']">
              {{category.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputTitle" class="sr-only">Title</label>
          <input
            type="title"
            id="inputTitle"
            class="form-control"
            placeholder="Title"
            formControlName="inputTitle"
            required="">
        </div>
        <quill-editor placeholder="Title photo" formControlName="inputBanner" [modules]="quillEditorPhotoConf"></quill-editor>
        <div class="form-group mt-2">
          <label for="info">
            Information
          </label>
          <quill-editor id="info" formControlName="inputInfo"></quill-editor>
        </div>
      </form>
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="createPost()">Create</button>
    </div>
  </div>
  <div class="col-3">
    <button class="btn btn-block btn-success my-2" type="button" (click)="showAddCategoryModal()">
      Add<i class="bi bi-plus-lg ml-2"></i>
    </button>
    <div class="categories-bloc d-flex flex-wrap shadow-sm p-2 mb-5 bg-white rounded border">
      <div class="category d-flex align-items-center p-1 rounded bg-info text-monospace text-white m-1" *ngFor="let category of categories">
        <span class="mr-1">{{category.name}}</span>
        <button type="button" class="close" aria-label="Close" (click)="removeCategory(category)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
