/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html, body {
  height: 100%!important;
}

.form-signin, .form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.jumbotron {
  background-size: cover;
  background-position: center;
}
